<div>
    <label for="width">Width:</label>
    <input id="width" name="width" type="text" />
    <label for="height">Height:</label>
    <input id="height" name="height" type="text" />
    <button onclick="generate()">Generate</button>
</div>

<fieldset>
    <legend>Image</legend>
    <img id="image" />
</fieldset>

<script>
    function generate() {
        var width = document.getElementById("width");
        var height = document.getElementById("height");
        var url = "@Url.Action("Generate", "Maze")?width=" + width.value + "&height=" + height.value;

        document.getElementById("image").src = url;
    };
</script>